section_1 {
  display: flex;
}

#main-photo img {
  margin-top: 7rem;
  max-width: 350px;
}

.low-opc {
  margin: auto;
  opacity: 0.1;
  width: 80%;
}

.section-title-text {
  color: #fff;
  opacity: 0.5;
}

.car-img {
  max-width: 200px;
  margin-bottom: 7rem;
}